.navbar-top { /* You might need to adjust the class name to match your setup */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 10px;
    z-index: 10;  
    /* Ensure the navbar is above the carousel  */
    opacity: 0.8;
  }


  .navbar-top > nav {
    background: white; /* Or any color you want */
  }

.welcome{
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 240px;
    z-index: 10; /* Ensure the navbar is above the carousel */
    opacity: 1;
    color: black;
    justify-content: center;
    width: 0.4;

} 
.banner {
  display: flex;
  overflow-x: hidden;
  white-space: nowrap;
}

.image {
  flex: 0 0 auto;
  animation: scroll-horizontal var(--speed) linear infinite;
}

@keyframes scroll-horizontal {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.result{
  padding:0px 5%;
  max-height: 70vh;
  overflow-y: scroll;
}

.result::-webkit-scrollbar{
  display: none;
}

.result-title{
  margin: 40px 0px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.result-data{
  display: flex;
  align-items: start;
  gap: 20px;
}
.loader{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.loader hr{
  border-radius: 4px;
  border: none;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #9ed7ff,#ffffff,#9ed7ff);
  background-size: 800px 50px;
  height: 20px;
  animation: loader 3s infinite linear;
}

@keyframes loader {
  0%{
    background-position: -800px 0px;
  }
  100%{
    background-position: 800px 0px;
  }
}

.result-data p{
  font-size: 17px;
  font-weight: 300;
  line-height: 1.8;
}